@model WebComercio1.Models.ProductoImagen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductoImagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Denominacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Denominacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductoImagenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
