@model IEnumerable<WebComercio1.Models.ProductoImagen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Denominacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Denominacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductoImagenId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductoImagenId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductoImagenId })
        </td>
    </tr>
}

</table>
